if BOARD_LP_EM_CC2340R5


if BT

config ZEPHYR
  bool "Bluetooth TI Controller on ZEPHYR"

select BT_CTLR_ADV_EXT_SUPPORT

  help
    Bluetooth TI Controller on ZEPHYR OS.
  default y
  
config BT_LL_HEAP_SIZE
    hex "LL Heap memory pool size (in bytes)"
    default 0x2000

endif # BT

endif # BOARD_LP_EM_CC2340R5
