/*
 * Copyright (c) 2025 Conclusive Engineering Sp. z o.o.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/cc35xxe.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include "lp_em_cc35x1-pinctrl.dtsi"

/ {
	model = "TI CC35X1E LaunchPad";
	compatible = "ti,launchpad-cc35x1e";

	chosen {
		zephyr,sram = &dmem_ns;
		zephyr,flash = &extflash_ns;
		zephyr,itcm = &itcm_ns;
		zephyr,dtcm = &dtcm_ns;
		zephyr,code-partition = &dmem_ns;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,entropy = &hsm;
	};

	leds {
		compatible = "gpio-leds";
		green_led: green_led {
			gpios = <&gpio30 0 GPIO_ACTIVE_HIGH>;
			label = "GREEN USER LED";
		};
		red_led: red_led {
			gpios = <&gpio34 0 GPIO_ACTIVE_HIGH>;
			label = "RED USER LED";
		};
		blue_led: blue_led {
			gpios = <&gpio35 0 GPIO_ACTIVE_HIGH>;
			label = "BLUE USER LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		user_switch_1: user_sw_1 {
			gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
			label = "User SW1";
		};
		user_switch_2: user_sw_2{
			gpios = <&gpio36 0 GPIO_ACTIVE_LOW>;
			label = "User SW2";
		};
	};

	aliases {
		led0 = &green_led;
		led1 = &red_led;
		led2 = &blue_led;
		sw0 = &user_switch_1;
		sw1 = &user_switch_2;
	};
};

&gpio2 {
	status = "okay";
};

&gpio26 {
	status = "okay";
};

&gpio30 {
	status = "okay";
};

&gpio34 {
	status = "okay";
};

&gpio35 {
	status = "okay";
};

&gpio36 {
	status = "okay";
};

&imem_ns {
	status = "okay";
};

&dmem_ns {
	status = "okay";
};

&itcm_ns {
	status = "okay";
};

&dtcm_ns {
	status = "okay";
};

&itcm {
	status = "okay";
};

&dtcm {
	status = "okay";
};

&dma {
	status = "okay";
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_master>;
	pinctrl-names = "default";
	cs-gpios = <&gpio26 0 GPIO_ACTIVE_LOW>;
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_slave>;
	pinctrl-names = "default";
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
	dmas = <&dma 2>, <&dma 3>;
	dma-names = "tx", "rx";
};

&uart1 {
	status = "okay";
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
	dmas = <&dma 0>, <&dma 1>;
	dma-names = "tx", "rx";
};

&hsm {
	status = "okay";
};
